@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200&display=swap');
/* font-family: 'Poppins', sans-serif; */
nav{
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
}

nav > img {
  max-width: 100px;
  margin-left: 3%;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero > img {
  width: 80%;
  padding: 30px 0;
}

.heroInfo {
  padding-left: 40px;
  margin: 30px 0;
}

.heroInfo > h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.heroInfo > p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 26%;
}