nav{
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
}

nav > img {
  max-width: 100px;
  margin-left: 3%;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero > img {
  width: 80%;
  padding: 30px 0;
}